.md {
    position: relative;
    padding: .2em 0;
    margin: 0 auto;
    line-height: 1.5 !important;
    font-size: 16px !important;
}

@media screen and (max-width:720px) {
    .md {
        font-size: 14px !important;
    }
}

.md p+p {
    margin-top: 8px;
}

.md a {
    color: #42b983;
    font-weight: 600;
}

.md a:hover {
    text-decoration: underline;
}

.md img {
    display: block;
    max-width: 100%;
    margin: 5px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5 {
    color: #273849;
    margin: 24px 0 10px 0;
}

.md h1 {
    font-size: 1.3em;
    font-weight: 600;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e7e9ed;
}

.md h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.md h3 {
    font-size: 1.15em
}

.md h4 {
    font-size: 1.1em
}

.md h5 {
    font-size: 1em
}

.md blockquote {
    color: #7f8fa4 !important;
    padding: 5px 10px;
    margin: 10px 0 10px;
    border-left: 3px solid #e7e9ed
}

.md pre {
    background-color: #002b36;
    overflow-x: auto;
    line-height: 1.3;
    border-radius: 5px;
    margin: 10px 0;
}

.md code {
    font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

.md pre code {
    padding: 15px 10px 15px 0;
    border: none;
}

.md p>code {
    color: #d63200;
    padding: 1px 4px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
    background-color: #f8f8f8;
}

.md ul,
.md ol {
    padding: 0;
    margin: 5px 0 5px 17px !important;
}

.md li {
    list-style: disc;
}

.md hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #222;
}

.md>table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 10px auto;
    padding: 0;
    display: block;
    overflow-x: auto;
}

.md>table td,
.md>table th {
    line-height: 1.5em;
    padding: 0.4em 0.8em;
    border: none;
    border: 1px solid #ddd;
}

.md>table th {
    font-weight: bold;
    text-align: left;
}

.md>table th,
.md>table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.md>table th code,
.md>table tr:nth-child(2n) code {
    background-color: #efefef;
}


/* 显示行号 */
table.hljs-ln .hljs-ln-numbers {
    text-align: center;
    border-right: solid 1px #fff;
    padding: 0 10px;
}

table.hljs-ln .hljs-ln-code {
    padding-left: 10px;
}